@media screen and (min-width: 768px) and (max-width: 1280px) {
  .video-scale {
    transform-origin: top center;
    transform: scale(0.7);
  }
  .home-main-title{
    font-size: 4rem;
  }
  .home-title-container h3 {
    font-size: 2rem;
  }
  .feature-title {
    font-size: 2rem;
  }
  .download-button{
    font-size: 0.8rem;
    width: 80px;
    height: 24px;
  }
  .page-tag {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .feature{
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .video-scale {
    transform-origin: top center;
    transform: scale(0.5);
  }
  .container {
    flex-direction: column;
  }
  .app-container {
    padding: 0px;
    background-color: var(--foreground);
    padding-bottom: 30px;
    padding-top: 110px;
    height: auto;
  }
  .mobile-top-banner {
    background: var(--background);
    height: 110px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .home-title-container {
    background: var(--background);
    padding: 0px 30px;
  }
  .home-main-title{
    font-size: 3rem;
  }
  .home-title-container h3 {
    font-size: 1.5rem;
  }
  .home-logo {
    right: 30px;
    top: 20px;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 2;
  }
  .feature-container{
    margin-top: -320px;
    padding: 0px 30px;
  }
  .feature-title {
    font-size: 1.5rem;
  }
  .download-button{
    font-size: 0.7rem;
    width: 70px;
    height: 20px;
  }
  .page-tag {
    font-size: 0.7rem;
    font-weight: bold;
  }
  .feature{
    font-size: 0.9rem;
  }
  .float-background {
    display: none;
  }
  
  .contact-us-button {
    top: 30px;
    position: fixed;
    z-index: 2;
  }
}
